workflows/WF04-human-review.json
{
  "name": "WF04-명세서검수",
  "id": "zSXpWko9op4hnSBr",
  "description": "Human-in-the-loop 특허 명세서 검수 워크플로우 - 승인/수정요청/반려 처리",
  "active": false,
  "nodes": [
    {
      "id": "webhook-trigger",
      "name": "검수 요청 Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [0, 0],
      "parameters": {
        "httpMethod": "POST",
        "path": "wf04-review-request",
        "responseMode": "onReceived"
      }
    },
    {
      "id": "prepare-review",
      "name": "검수 데이터 준비",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [220, 0]
    },
    {
      "id": "review-form",
      "name": "검수 Form",
      "type": "n8n-nodes-base.formTrigger",
      "typeVersion": 2.2,
      "position": [440, 0],
      "parameters": {
        "formTitle": "특허 명세서 검수",
        "formFields": ["검수 ID", "승인 상태", "청구항 피드백", "상세설명 피드백", "도면설명 피드백", "전체 의견", "수정 우선순위"]
      }
    },
    {
      "id": "check-approval",
      "name": "승인 여부 확인",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [660, 0]
    },
    {
      "id": "process-approval",
      "name": "승인 처리",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [880, -100]
    },
    {
      "id": "process-revision",
      "name": "수정 요청 처리",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [880, 100]
    },
    {
      "id": "set-approved-output",
      "name": "승인 완료 출력",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [1100, -100]
    },
    {
      "id": "google-drive-upload-approved",
      "name": "Google Drive 업로드 (승인문서)",
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [1320, -100],
      "parameters": {
        "operation": "upload",
        "folderId": {
          "__rl": true,
          "value": "={{ $vars.GOOGLE_DRIVE_APPROVED_FOLDER_ID }}",
          "mode": "id"
        },
        "name": "=승인_{{ $json.patent_id }}_{{ $now.format('yyyyMMdd') }}.md",
        "options": {
          "mimeType": "text/markdown"
        }
      },
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "google-drive-credentials",
          "name": "Google Drive OAuth2"
        }
      }
    },
    {
      "id": "google-sheets-approved",
      "name": "Google Sheets 승인 업데이트",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [1540, -100],
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "={{ $vars.GOOGLE_SHEETS_TRACKING_ID }}",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "제출이력",
          "mode": "name"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Patent ID": "={{ $json.patent_id }}",
            "상태": "approved",
            "최종문서 URL": "={{ $('Google Drive 업로드 (승인문서)').item.json.webViewLink }}",
            "검수완료일": "={{ $now.format('yyyy-MM-dd') }}"
          }
        },
        "options": {
          "updateLookupColumn": "Patent ID"
        }
      },
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "google-sheets-credentials",
          "name": "Google Sheets OAuth2"
        }
      }
    },
    {
      "id": "set-revision-output",
      "name": "수정 요청 출력",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [1100, 100]
    },
    {
      "id": "check-rejection",
      "name": "반려 여부 확인",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [1320, 100],
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "rejection-check",
              "leftValue": "={{ $json.status }}",
              "rightValue": "rejected",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        }
      }
    },
    {
      "id": "google-drive-upload-rejected",
      "name": "Google Drive 업로드 (반려문서)",
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [1540, 50],
      "parameters": {
        "operation": "upload",
        "folderId": {
          "__rl": true,
          "value": "={{ $vars.GOOGLE_DRIVE_REJECTED_FOLDER_ID }}",
          "mode": "id"
        },
        "name": "=반려_{{ $json.patent_id }}_{{ $now.format('yyyyMMdd') }}.md",
        "options": {
          "mimeType": "text/markdown"
        }
      },
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "google-drive-credentials",
          "name": "Google Drive OAuth2"
        }
      }
    },
    {
      "id": "google-sheets-rejected",
      "name": "Google Sheets 반려 업데이트",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [1760, 50],
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "={{ $vars.GOOGLE_SHEETS_TRACKING_ID }}",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "제출이력",
          "mode": "name"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Patent ID": "={{ $json.patent_id }}",
            "상태": "rejected",
            "최종문서 URL": "={{ $('Google Drive 업로드 (반려문서)').item.json.webViewLink }}",
            "반려사유": "={{ $json.rejection_reason }}",
            "검수완료일": "={{ $now.format('yyyy-MM-dd') }}"
          }
        },
        "options": {
          "updateLookupColumn": "Patent ID"
        }
      },
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "google-sheets-credentials",
          "name": "Google Sheets OAuth2"
        }
      }
    },
    {
      "id": "google-sheets-revision",
      "name": "Google Sheets 수정요청 업데이트",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [1540, 150],
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "={{ $vars.GOOGLE_SHEETS_TRACKING_ID }}",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "제출이력",
          "mode": "name"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Patent ID": "={{ $json.patent_id }}",
            "상태": "revision_requested",
            "수정요청사항": "={{ $json.revision_comments }}"
          }
        },
        "options": {
          "updateLookupColumn": "Patent ID"
        }
      },
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "google-sheets-credentials",
          "name": "Google Sheets OAuth2"
        }
      }
    },
    {
      "id": "merge-output",
      "name": "결과 병합",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [1980, 0],
      "parameters": {
        "mode": "combine",
        "options": {}
      }
    }
  ],
  "connections": {
    "검수 요청 Webhook": {
      "main": [[{"node": "검수 데이터 준비", "type": "main", "index": 0}]]
    },
    "검수 Form": {
      "main": [[{"node": "승인 여부 확인", "type": "main", "index": 0}]]
    },
    "승인 여부 확인": {
      "main": [
        [{"node": "승인 처리", "type": "main", "index": 0}],
        [{"node": "수정 요청 처리", "type": "main", "index": 0}]
      ]
    },
    "승인 처리": {
      "main": [[{"node": "승인 완료 출력", "type": "main", "index": 0}]]
    },
    "승인 완료 출력": {
      "main": [[{"node": "Google Drive 업로드 (승인문서)", "type": "main", "index": 0}]]
    },
    "Google Drive 업로드 (승인문서)": {
      "main": [[{"node": "Google Sheets 승인 업데이트", "type": "main", "index": 0}]]
    },
    "Google Sheets 승인 업데이트": {
      "main": [[{"node": "결과 병합", "type": "main", "index": 0}]]
    },
    "수정 요청 처리": {
      "main": [[{"node": "수정 요청 출력", "type": "main", "index": 0}]]
    },
    "수정 요청 출력": {
      "main": [[{"node": "반려 여부 확인", "type": "main", "index": 0}]]
    },
    "반려 여부 확인": {
      "main": [
        [{"node": "Google Drive 업로드 (반려문서)", "type": "main", "index": 0}],
        [{"node": "Google Sheets 수정요청 업데이트", "type": "main", "index": 0}]
      ]
    },
    "Google Drive 업로드 (반려문서)": {
      "main": [[{"node": "Google Sheets 반려 업데이트", "type": "main", "index": 0}]]
    },
    "Google Sheets 반려 업데이트": {
      "main": [[{"node": "결과 병합", "type": "main", "index": 1}]]
    },
    "Google Sheets 수정요청 업데이트": {
      "main": [[{"node": "결과 병합", "type": "main", "index": 2}]]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "meta": {
    "version": "1.1.0",
    "created": "2026-01-10",
    "updated": "2026-01-13",
    "project": "MAIPatent",
    "workflow_sequence": 4,
    "review_options": ["승인", "수정 필요", "반려"],
    "feedback_fields": ["청구항", "상세설명", "도면설명", "전체 의견"]
  }
}
